<div class="mat-elevation-z8 mt-3 p-1" >
  <div class="col-md-12 d-flex justify-content-end mr-2">
    <button mat-raised-button color="primary" (click)="onAddProduct()" >Ajouter un produit</button>
  </div>
<!--afficher les produits dans une table bootstrap-->
<h1>Gestion des produits</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Nom</th>
      <th scope="col">PrixUnitaire</th>
      <th scope="col">Fournisseur</th>
    </tr>
  </thead>
  <tbody>
    <!-- @for (product of products; track $index) {
      <tr>
        <th scope="row">{{$index + 1}}</th>
        <td>{{ product.Nom }}</td>
        <td>{{ product.PrixUnitaire }}</td>
        <td>{{ product.ID_Fournisseur }}</td>
      </tr>
    } -->
  </tbody>
</table>

</div>