.example-spacer {
  flex: 1 1 auto;
}

.user-section {
  display: flex;
  align-items: center;
  margin-right: 8px; /* Espacement à droite */
  gap: 4px; /* Espacement entre les icônes et le texte */
}

.username {
  font-weight: bold;
  font-size: 16px; /* Taille de police ajustée */
  line-height: 1;
  color: #4a4a4a; /* Couleur contrastée */
}

/* Styles supplémentaires pour améliorer l'ergonomie et l'esthétique */
button.mat-icon-button.example-icon {
  transition: background-color 0.3s; /* Transition douce pour l'interaction */
}

button.mat-icon-button.example-icon:hover {
  background-color: #e0e0e0; /* Couleur de fond au survol */
}
.user-info {
  display: flex;
  flex-direction: column; /* Organise les enfants en colonne */
  align-items: flex-end;
  margin-top: 24px; /* Centre les enfants horizontalement */
}

.user-role {
  font-size: 12px; /* Taille de police ajustée pour la lisibilité */
  color: #6c757d; /* Couleur pour distinguer le rôle */
  //ajoute une marge en haut et en bas
  margin-top: -4px;
}
