<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div class="logo-container">
      <img src="../../../../../assets/Stock Pro.png" alt="Logo" class="logo">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" class="nav-item">
        <div class="nav-content">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span mat-line>Tableau de bord</span>
        </div>
      </a>
      <a mat-list-item routerLink="/dashboard/product" routerLinkActive="active-link" class="nav-item">
        <div class="nav-content">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <span mat-line>Gestion des produits</span>
        </div>
      </a>
      <a mat-list-item routerLink="/dashboard/product" routerLinkActive="active-link" class="nav-item">
        <div class="nav-content">
          <mat-icon mat-list-icon>track_changes</mat-icon>
          <span mat-line>Niveau des stocks</span>
        </div>
      </a>

      <!-- Plus de liens ici -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar/>
    <h1>Dashboard</h1>
    <!-- Contenu du Dashboard -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
