.sidenav-container {
  height: 100%;
}
.sidenav {
  //padding-left: 10px;
  width: 235px;
  //background-color: #FFBF69;
  background-color: #FF9F1C;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);

}
mat-nav-list{
  padding-left: 10px;
}

.active-link {
  color: #0A58CA;
}
.nav-content {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 15px; /* Ajustez l'espace selon vos besoins */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Ajustez l'espace selon vos besoins */
  //definie moi la taille qui va contenir le logo
  height: 96px;
  //je veux que le container du logo soit colle au bord gauche
  margin-left: 0px;

}


.logo {
  width: 100%; /* Le logo occupe toute la largeur du container */
  height: 100%; /* Maintient l'aspect ratio */
  max-width: 100%; /* Prévient le dépassement */
  //max-height: 76px; /* Hauteur maximale, ajustez selon vos besoins */
}
.container{
  margin-left: 28px;
  margin-top: 10px;
}
// h1 {
//   margin-left: 28px;
//   margin-top: 10px;

// }
@media (max-width: 768px) { /* Taille d'écran pour tablettes et moins */

}