.dialog-content {
  width: 900px; // Adjust the width as needed
}
mat-form-field {
  width: 100%; /* Pleine largeur */
}

//changer la couleur du texte du bouton

.bouton {
  color: white;
  background-color: #ff9f1c;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  //height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  &:hover {
    background-color: #ff9f1c;
  }
}
mat-dialog-actions {
  justify-content: flex-end;
} 