<div class="card">
  <p-table 
    [value]="products()" 
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]"
    [tableStyle]="{'min-width': '50rem'}"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0">Liste des produits</h2>
        <p-button icon="pi pi-plus" label="Nouveau" />
      </div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr>
            <th>Code</th>
            <th>Designation </th>
            <th>Prix</th>
            <th>Categorie</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product >
        <tr>
            <td>
                {{"P-001"+product.ID_Produit}}
            </td>
            <td>
                {{product.Nom}}
            </td>
            <td>
                {{product.PrixUnitaire | currency:'USD'}}
            </td>
            <td>
                {{product.Fournisseur.NomFournisseur}}
            </td>
            <td>
                {{product.ID_Produit}}
            </td>
            <td>
                <p-tag [value]="'INSTOCK'" [severity]="getSeverity('INSTOCK')" />
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>