<div class="container">
  <h1>Gestion des produits</h1>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12">
      <mat-card class="exemple-card">
        <mat-card-header>
          <mat-card-title>
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Nombre de produits</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>200</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12">
      <mat-card class="exemple-card">
        <mat-card-header>
          <mat-card-title>
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Nombre de produits en stock</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>150</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12">
      <mat-card class="exemple-card">
        <mat-card-header>
          <mat-card-title>
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Nombre de produits en rupture </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>50</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--mat tabs module-->
  <mat-tab-group animationDuration="0ms" class="mt-3">
  <mat-tab label="Produits">
    <app-product-list></app-product-list>
  </mat-tab>
  <mat-tab label="Entree en Stock">Entree en Stock 2</mat-tab>
  <mat-tab label="Sortie en stock">Sortie en Stock</mat-tab>
  <mat-tab label="Fournisseur">Fournisseur</mat-tab>
</mat-tab-group>

</div>