<mat-toolbar class="toolbar">
  <!-- Menu Button -->
  <button mat-icon-button class="example-icon" (click)="onToggleSidebar()" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Application Title -->
  <span>Stock Pro</span>

  <!-- Spacer -->
  <span class="example-spacer"></span>

  <!-- User Section -->
  <div class="user-section">
    <!-- User Profile Button -->
    <button mat-icon-button class="example-icon person" aria-label="User profile">
      <mat-icon>person</mat-icon>
    </button>

    <!-- User Information -->
    <div class="user-info">
      <span class="username">John Doe </span>
      <div class="user-role">Admin</div>
    </div>

    <!-- Additional User Options -->
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="example-icon"
        aria-label="User options"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <!-- User Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
